* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
}

html,
body {
    overflow-x: hidden;
    width: 100%;
    -webkit-text-size-adjust: 100%;
}

[data-mui-color-scheme="light"] {
    color-scheme: light;
}

[data-mui-color-scheme="dark"] {
    color-scheme: dark;
}
